body {
  background-color: #f5f5a3;
  text-align: center;
  padding: 10px;
}

img {
    border: 5px solid yellow;
    border-radius: 10px;
    border-image: url(sun.png) 500 round;
    border-image-width: 20px;
    padding: 10px;
    margin: 30px 50px 0;
    max-width: 80%;
}

ul { 
    list-style: none;
}

li {
    font-weight: bold;
}